<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546596685470-f0mr114jbl23lc6f7faerjtluff9lhbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546596685470-f0mr114jbl23lc6f7faerjtluff9lhbj</string>
	<key>API_KEY</key>
	<string>AIzaSyC645UEQXTDNij_EDEIPyJVtIAt9mJvZyw</string>
	<key>GCM_SENDER_ID</key>
	<string>546596685470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.turnetes</string>
	<key>PROJECT_ID</key>
	<string>turnetes-9a656</string>
	<key>STORAGE_BUCKET</key>
	<string>turnetes-9a656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546596685470:ios:c18f9e8b2c6ecedeab9d8f</string>
</dict>
</plist>