<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.turnetes">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <queries>
        <package android:name="com.whatsapp"/>
        <package android:name="com.whatsapp.w4b"/>
    </queries>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
